*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#greeting{
  position: fixed;
  align-self: center;
  right: 47.5vw;
  top: 5vh;
  font-size: x-large;
}

body{
  border-color: #85BCCB;
  background-color: rgba(123, 170, 182, 1);
  outline-color: #85BCCB;
  border-width: 2.5vw;
  border-color: #85BCCB;
  overflow-x: hidden;
  margin: 0;
  height: auto;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#sec1 {
    position: relative;
    width: 100vw;
    height: 15vh;
    background-color: rgba(133, 188, 203, 1);;
    width: 100%;
}

#sec1 h1 {
  color: white;
    position: relative;
    top: 30%;
    left: 4%;
}

.back1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  right: 175px;
  top: 20px;
  padding: 25px;
  background-color: white;
  cursor: pointer;
}

.back1:hover {
  background-color: rgb(220, 220, 220);
}

.back2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
  position: absolute;
  right: 125px;
  top: 20px;
  padding: 25px;
  background-color: rgb(95, 142, 197);
  cursor: pointer;
}

.lines {
  position: absolute;
  top: 4px;
  right: 6px;
  width: 35px;
  height: 90%;
}

.calendaricon {
  position: absolute;
  top: 4px;
  right: 5px;
}

.accounticon {
  position: absolute;
  width: 60px;
  top: 12px;
  right: 20px;
}

/*calendar*/

.fc-scroller {
  overflow: hidden !important;
}

.fc-scrollgrid td,
.fc-scrollgrid th {
  border-top-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-color: black;
}

.fc-scrollgrid {
  border-radius: 10px !important;
  border-color: black !important; 
}

.calendar-wrapper {
  width: 90%;
  margin: 0 auto;
}

#calendar {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}

.fc-toolbar-title {
    position: absolute;
    left: 70px;
    top: 150px;
}

.fc .fc-toolbar-title {
  color: #ffffff;
}

.fc-next-button {
  top: 15px;
  left: 1030px;
}

.fc-prev-button {
  top: 15px;
  left: 1030px;
}

.fc-daygrid-day-frame {
  background-color: rgb(185, 247, 248);
  cursor: pointer;
  border-color: black;
}



/*end of calendar*/

.back {
  border-top-right-radius: 10px;
  left: 0px;
  bottom: 0px;
  position: fixed;
  padding: 30px;
  background-color: white;
  z-index: 2;
}

.hamburger {
  position: fixed;
  bottom: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: pointer;
  user-select: none;
  z-index: 3;
}


.dropdown {
  display: none;
  position: fixed;
  width: 220px;
  height: 300px;
  bottom: 0px;
  left: 0px;
  background: rgb(255, 255, 255);
  z-index: 4;
  user-select: none;
}

#dropdown.dropdown {
  margin: 0;
  padding: 0;
  cursor: default;
}

.x {
  display: block; 
  position: fixed;
  bottom: 273px;
  left: 190px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  user-select: none;
  z-index: 5;
}

.dropdown h3 {
  color:black;
  padding: 0px;
  margin: 15px 15px;
  cursor: default;
}

.dropdown a {
  display: block;
  padding: 0px;
  margin: 0px 15px 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: 0.2s;
  pointer-events: all;
}

.dropdown, .label {
  display: block;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 15px 0px;
}

.parent {
  position: relative;
}

.study-dropdown {
  position: absolute;
  display: none;
  background: rgb(255, 255, 255);
  margin-left: 10px;
  margin-top: 5px;
}

.study-dropdown p {
  padding: 0px 8px 4px;
  margin: 0px;
}