*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#greeting{
  position: fixed;
  align-self: center;
  right: 47.5vw;
  top: 5vh;
  font-size: x-large;
}

body{
  border-style: inset;
  border-color: #85BCCB;
  background-color: #D3FEFF;
  outline-color: #85BCCB;
  border-width: 2.5vw;
  border-color: #85BCCB;
  overflow-x: hidden;
}



.dropdown {
  border-style: inset;
  border-color: #85BCCB;
  border-width: 10px;
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus{
  background-color: #85BCCB;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#sec1 {
    position: relative;
    width: 100vw;
    height: 15vh;
    background-color: rgba(133, 188, 203, 1);
}

#sec1 h1 {
    position: relative;
    top: 30%;
    left: 3%;
}

