

*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
  border-style: inset;
  border-color: #85BCCB;
  background-color: #D3FEFF;
  outline-color: #85BCCB;
  border-width: 2.5vw;
  border-color: #85BCCB;
  overflow-x: hidden;
  margin: 0;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.back {
  border-top-right-radius: 10px;
  left: 0px;
  bottom: 0px;
  position: fixed;
  padding: 30px;
  background-color: white;
  z-index: 2;
}

.hamburger {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: pointer;
  user-select: none;
  z-index: 3;
}


.dropdown {
  display: none;
  position: absolute;
  width: 220px;
  height: 300px;
  bottom: 0px;
  left: 0px;
  background: rgb(255, 255, 255);
  z-index: 4;
  user-select: none;
}

#dropdown.dropdown {
  margin: 0;
  padding: 0;
  cursor: default;
}

.x {
  display: block; 
  position: absolute;
  bottom: 273px;
  left: 190px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  user-select: none;
  z-index: 5;
}

.dropdown h3 {
  color:black;
  padding: 0px;
  margin: 15px 15px;
  cursor: default;
}

.dropdown a {
  display: block;
  padding: 0px;
  margin: 0px 15px 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: 0.2s;
  pointer-events: all;
}

.dropdown, .label {
  display: block;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 15px 0px;
}

.parent {
  position: relative;
}

.study-dropdown {
  position: absolute;
  display: none;
  background: rgb(255, 255, 255);
  margin-left: 10px;
  margin-top: 5px;
}

.study-dropdown p {
  padding: 0px 8px 4px;
  margin: 0px;
}

.loginbtn {
  position: absolute;
  top: 47px;
  left: 1180px;
}

.signinbtn {
  position: absolute;
  top: 50px;
  left: 1130px;
}

#sec1 {
    position: relative;
    width: 100vw;
    height: 15vh;
    background-color: rgba(133, 188, 203, 1);
}

#sec1 h1 {
    position: relative;
    left: 20px;
    top: 30%;
    width: 50%;
}

